{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <div class = "navbar">
            <ul>
                <li><a href="/">URL Shortener</a></li>
                {% if user.is_authenticated %}
                <li><a href="account">Account</a></li>
                {% else %}
                <li><a href="signin">Account</a></li>
                {% endif %}
                    
            </ul>
        </div>
        {% block main %}
        {% endblock main %}
        <script src="" async defer></script>
    </body>
</html>

