{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'index/index.css' %}">
{% endblock head %}


{% block header %}
    <header>
        <div class="img-div">
            <img src="{% static 'index/logo.png' %}" alt="Logo" class="logo">
        </div>
    </header>
   
{% endblock header %}


{% block main %}
    <div class="index-container">
        {% if user.is_authenticated %}
            <div class="form-container">
                <h2 class="form-title">URL Shortener</h2>
                <form method="post" class="shortener-form">
                    {% csrf_token %}
                    <div class="input-group">
                        <label for="longurl" class="input-label">Enter URL:</label>
                        <input type="url" name="longurl" id="longurl" required class="input-field">
                    </div>
                    <div class="input-group">
                        <label for="code" class="input-label">Enter Code:</label>
                        <input type="text" name="code" id="code" required class="input-field">
                    </div>
                    <button class="submit-btn" type="submit">Save URL</button>
                </form>
                <button class="acc-btn"> <a href="account">See saved URLs -></a></button>
            </div>
        {% else %}
            <div class="signin-prompt">
                <p>Please <a href="/signin" class="signin-link">sign in</a> to use the URL shortener.</p>
            </div>
        {% endif %}
    </div>
{% endblock main %}