{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'authentication/account.css' %}">
{% endblock head %}

{% block main %}
    <div class="account-container">
        {% for message in messages %}
            <strong role="alert">Message:</strong> {{ message }}
        {% endfor %}

        <h3 class="greeting">Hello, {{username}}!</h3>
        <p class="email">Email: {{email}}</p>
        <button class="signout-btn"> <a href="/signout">SignOut</a></button>

        <h4 class="urls-title">Your URLs:</h4>
        {% if urls %}
            <ul class="urls-list">
                {% for url in urls %}
                    <li class="url-item">
                        <a href="{{ url.longurl }}" target="_blank" class="url-link">
                            http://127.0.0.1:8000/{{ url.code }} -> {{ url.longurl }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="no-urls">This account has no saved URLs</p>
        {% endif %}
    </div>
{% endblock main %}