{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'authentication/signup.css' %}">
{% endblock head %}

{% block main %}
    <div class="signup-container">
        {% for message in messages %}
            <strong role="alert" class="alert-message">Съобщение:</strong> {{ message }}
        {% endfor %}

        <h2 class="signup-title">Регистрация</h2>

        <form method="post" action="/signup" class="signup-form">
            {% csrf_token %}
            <div class="input-group">
                <label for="username" class="input-label">Потребителско име</label>
                <input type="text" id="username" name="username" required class="input-field">
            </div>

            <div class="input-group">
                <label for="email" class="input-label">Имейл</label>
                <input type="email" id="email" name="email" required class="input-field">
            </div>

            <div class="input-group">
                <label for="password" class="input-label">Парола</label>
                <input type="password" id="password" name="password" required class="input-field">
            </div>

            <button type="submit" class="submit-btn">Регистрация</button>
        </form>

        <h2 class="captcha-title">Въведете кода който беше изпратен на вашият имейл адрес!</h2>

        <form method="post" action="confirm" class="captcha-form">
            {% csrf_token %}
            <div class="input-group">
                <label for="capchatest" class="input-label">Код:</label>
                <input type="text" id="capchatest" name="capchatest" required class="input-field">
            </div>
            <button type="submit" class="submit-btn">Завършване на Регистрацията</button>
        </form>

        <p class="signin-link">Вече имаш акаунт? <a href="/signin" class="signin-link">Влизане</a></p>
    </div>
{% endblock main %}
