{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'authentication/signin.css' %}">
{% endblock head %}

{% block main %}
    <div class="signin-container">
        <h2 class="signin-title">Вход</h2>

        {% for message in messages %}
            <strong role="alert" class="alert-message">Съобщение:</strong> {{ message }}
        {% endfor %}

        <form method="post" class="signin-form">
            {% csrf_token %}
            
            <div class="input-group">
                <label for="username" class="input-label">Потребителско Име</label>
                <input type="text" id="username" name="username" required class="input-field">
            </div>

            <div class="input-group">
                <label for="password" class="input-label">Парола</label>
                <input type="password" id="password" name="password" required class="input-field">
            </div>

            <button type="submit" class="submit-btn">Влизане</button>
        </form>
        <p class="signup-link">Нямаш акаунт? <a href="/signup" class="signup-link">Регистрация</a></p>
    </div>
{% endblock main %}